@import "_universal_variable";
@import "_universal_style";
#main_banner {
  margin: auto;
  position: relative;


}
.headers_container{
  margin: auto;
}
.icon_container {
  position: absolute;
  bottom: em(5);
  left: 50%;
  transform: translateX(-50%);
  font-size: em(50);
  color: $main_color;
  cursor: pointer;
}

#main_gallery {
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 150px 0;
}
.btn {
  padding: 25px 50px;
  font-size: em(50);
  font-weight: bold;
  cursor: pointer;
}

#time {
  font-size: em(150);
  padding: 50px 0 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
#subtitle {
  font-size: em(70);
  padding: 0;
}
#footer {
  position: relative;
  .icon_container {
    top: em(5);
  }
  a {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: em(40);

  }
}
